<html>
<head>
    <meta charset="UTF-8" />
    <title>Upload Work</title>
</head>
<body>
    <h1>Upload Work: {{workTitle}}</h1>
    <form action="/works/{{workID}}/upload" method="post" enctype="multipart/form-data">
	   <label for="uploadName">Upload name:</label>
	   <input type='text' name='uploadName'/></br>
       <p>
        Choose a file: <input type="file" name="filename" />
       </p>
       <input type="submit" value="Upload" />
    </form>
</body>
</html>
