<html>
<head><title></title></head>
<body>
<div class="top">
	<div class="fName">Subject name: {{subject.subjectName}}</div>
	<div class="lName">Work title: {{work.title}}</div></br>
	<div class="lName">Upload: {{upload.title}}</div></br>
	
	<div class="lName">File: {{uploadFile}}</br></br>
	   <a href="/uploads/{{upload.id}}/download">
	      <button>Download</button>
	   </a>
	</div>
</div>
</body></html>