<html>
<head><title></title></head>
<body>
<div class="top">
<table border="1">
    <th>Subject name</th>
	{{#subjectList}}
	<tr>
		<td><a href=/subjects/{{id}}>{{subjectName}}</a></td>
	</tr>
	{{/subjectList}}
</table>
   
</div>
</body></html>