<html>
<head><title></title></head>
<body>
<div class="top">
	<div class="fName">Subject name: {{subject.subjectName}}</div></br>
	<div class="lName">Work title: {{title}}</div>
	<div class="lName">Description: {{description}}</div>
	
{{^isStudent}}
</br>
<table border="1">
    <th>Upload name</th>
	<th>Student</th>
	{{#uploadList}}
	<tr>
		<td><a href="/uploads/{{id}}">{{title}}</a></td>
		<td><a href="/students/{{studentID}}">{{student.firstName}} {{student.lastName}}</a></td>	
	</tr>
	{{/uploadList}}
</table>
{{/isStudent}}

{{#isStudent}}
</br>
<a href="/works/{{work.id}}/upload">
{{#isRevision}}
<button>Upload Revision</button>
{{/isRevision}}
{{^isRevision}}
<button>Upload New</button>
{{/isRevision}}
</a>
{{/isStudent}}
   
</div>
</body></html>